
<h1 class="text-4xl text-bold mb-4">Pizzeria Analytics</h1>

<h2 class="text-2xl text-bold mb-4">
Tonight we expect <%= @num_resis_tonight%> reservations and should prepare <%= @num_doughs_predict %> pizza doughs.
</h2>
