<.header>
  New Gameplay
  <:subtitle>Use this form to manage gameplay records in your database.</:subtitle>
</.header>

<.gameplay_form changeset={@changeset} action={~p"/gameplays"} />

<.back navigate={~p"/gameplays"}>Back to gameplays</.back>
