<div class="my-2">
  <h2 class="text-lg font-bold">Admin</h2>
  <ul>
    <li>
      <a href={~p"/a/consoles"} class="text-sky-500 underline">
        Consoles
      </a>
    </li>
    <li>
      <a href={~p"/a/games"} class="text-sky-500 underline">
        Games
      </a>
    </li>
  </ul>
</div>