<div class="my-2">
  <div class="grid grid-cols-4 gap-4">
    <%= for game <- @all_game_names do %>
      <div>
        <h2><%= game %></h2>
        <img src={GamedropWeb.GameIdeaLive.game_image_src(game)} />
      </div>
    <% end %>
  </div>

</div>