<.header>
  New Console
  <:subtitle>Use this form to manage console records in your database.</:subtitle>
</.header>

<.console_form changeset={@changeset} action={~p"/consoles"} />

<.back navigate={~p"/consoles"}>Back to consoles</.back>
